<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.location"
        android:required="false"/>

    <application
        android:name="de.topobyte.transportation.info.TransportApp"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="de.topobyte.transportation.info.activities.MainActivity"
            android:exported="true"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="de.topobyte.transportation.info.activities.NetworkMapActivity"
            android:theme="@style/AppThemeNoActionBar">
        </activity>
        <activity
            android:name="de.topobyte.transportation.info.activities.LinesActivity"
            android:theme="@style/AppThemeNoActionBar">
        </activity>
        <activity
            android:name="de.topobyte.transportation.info.activities.StationsActivity"
            android:theme="@style/AppThemeNoActionBar">
        </activity>
        <activity
            android:name="de.topobyte.transportation.info.activities.AboutActivity"
            android:theme="@style/AppThemeNoActionBar">
        </activity>
    </application>

    <queries>
        <package android:name="de.topobyte.apps.offline.stadtplan.berlin" />
        <package android:name="de.topobyte.apps.offline.stadtplan.wien" />
    </queries>

</manifest>
